<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
      <h1> >>>>>>>>>>> teste <<<<<<<<<<<<< </h1>
    </center>
    {{{body}}}
    <footer>
      <br>
      <center>
        <small> ------------------------------------------------------------ </small>
        <br>
        <small> teste </small>
      </center>
    </footer>
  </body>
</html>
